{% extends "base.html" %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 85vh;">
    <div class="text-center">
        <h1 style="font-size: 5rem; font-weight: bold; letter-spacing: 4px;">KALAI DAILY</h1>
        <p class=" fs-4 mb-5">Your daily dose of art</p>
        <div class="d-flex gap-3 justify-content-center">
            <a href="/daily" class="btn btn-light btn-lg px-5">Today's Art</a>
            <a href="/explore/1" class="btn btn-outline-light btn-lg px-5">Explore</a>
        </div>
    </div>
</div>
{% endblock %}